:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --background-color: #f9f7fe;
}
.navbar-brand {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.greeting {
  padding: 100px;
  text-align: center;
  background-color: var(--background-color);
}
.content-container {
  padding: 120px;
}
.content h1 {
  font-size: 64px;
  line-height: 1.5;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 32px;
}

.greeting h1 {
  font-size: 96px;
  font-weight: bold;
}
.greeting p {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.greeting h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: normal;
}
.btn-branding {
  padding: 15px 30px;
  border-radius: 4px;
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding:hover {
  border-color: var(--branding-color);
}
.featured {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
}
.project {
  font-size: 58px;
}
.social-media {
  color: var(--branding-color);
  background-color: var(--background-color);
  margin: 0 15px;
  padding: 14px 14px;
  font-size: 18px;
  border-radius: 50%;
  line-height: 1;
  text-size-adjust: 70%;
  transition: all 150ms ease-in-out;
}
.inquiry {
  background-color: var(--background-color);
  padding: 25px 110px;
  margin: 25px 145px;
  border-radius: 10px;
}
.footer {
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 14px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }
  .content h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .greeting {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
